@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
    border-radius: 50px;
    width: 80%;
    margin: 90px 0px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
}
  
svg {
    display: block;
    font: 8.5em 'Montserrat';
    width: 1520px;
    height: 320px;
    margin: 0 auto;
}
  
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
  
.text-copy:nth-child(1){
    stroke: black;
    animation-delay: -1;
}
  
.text-copy:nth-child(2){
    stroke: white;
    animation-delay: -2s;
}
  
.text-copy:nth-child(3){
    stroke: black;
    animation-delay: -3s;
}
  
.text-copy:nth-child(4){
    stroke: white;
    animation-delay: -4s;
}
  
.text-copy:nth-child(5){
    stroke: black;
    animation-delay: -5s;
}

.text-copy:nth-child(5){
    stroke: white;
    animation-delay: -6s;
}
  
@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

.part1{
    padding-top: 80px;
    max-width: 80%;
    margin: 0 auto;
}

p{
    padding-top: 5px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
}

.part1-img{
    float: right;
    height: 300px;
    width: 300px;
    margin: 4px;
    object-fit: cover;
    animation: morph 3.5s linear infinite;
}

@keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.education-img{
    float: left;
    height: 300px;
    width: 300px;
    margin: 4px;
    object-fit: cover;
    animation: morph 3.5s linear infinite;
}

.part2{
    padding-top: 80px;
    max-width: 80%;
    margin: 0 auto;
}

h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.part2-container{
    position: relative;
    height: 210px;
}

.part2-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.part2-text{
    text-align: center;
}